body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}

/* ===== Aside ====== */

aside {
  background-color: rgb(241, 241, 241);
  padding: 1rem;
}

/* ===== logo and title ===== */

.logo-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

h1 {
  margin: 0;
}

/* ===== nav ====== */

header {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem 0;
  grid-auto-rows: 1fr;
}

@media screen and (min-width: 50em) {
  header {
    grid-template-columns: repeat(2, 1fr);
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-button > button {
  width: 100%;
  height: 100%;
}

/* ====== general ===== */

a {
  text-decoration: none;
  color: black;
}

.section {
  margin-top: 15vh;
}

/* ===== main ====== */

@media screen and (min-width: 40em) {
  main {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}

.main-content {
  padding: 1.25rem;
  margin-bottom: 2rem;
}

.aside-content {
  position: sticky;
  top: 5rem;
}
.aside-link:hover {
  border-radius: 7px;
  padding: 2px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.795);
  color: whitesmoke;
}

/* ===== Category ===== */

.categories {
  text-align: center;
}

.category {
  padding: 5px;
  background-color: rgb(226, 204, 172);
  margin: 0.25rem;
}
.category:hover {
  background-color: rgb(155, 100, 55);
  color: white;
}

button {
  background-color: rgb(226, 204, 172);
}
button:hover {
  background-color: rgb(155, 100, 55);
  color: white;
}

@media screen and (min-width: 50em) {
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* ===== Sponsor ====== */

.sponsors {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 50em) {
  .sponsors {
    grid-template-columns: repeat(4, 1fr);
  }
}

.sponsors > div {
  background-color: whitesmoke;
}

/* ===== Footer ====== */

#footer {
  background-color: rgb(31, 31, 31);
  color: white;
  display: grid;
  padding: 2rem;
  text-align: center;
}

#footer > div {
  margin-bottom: 2rem;
}

/* ===== grid modifiers ===== */

@media screen and (min-width: 50em) {
  .col-span-2 {
    grid-column: span 2;
  }

  .row-span-2 {
    grid-row: span 2;
  }
}
